// Footer
.footer
  .container
    .footer__wrapper
      .footer__copy Все права защищены <br>© ООО “БРИДЖ маркетинг”
      .footer__cta
        // keep the space
      .footer__socials.socials.socials--big
        .socials__title Мы в соцсетях
        .socials__list
          a(href="#" traget="_blank").socials__icon.socials__icon--facebook
            +icon('ico-social-facebook')
          a(href="#" traget="_blank").socials__icon.socials__icon--instagram
            +icon('ico-social-instagram')
          a(href="#" traget="_blank").socials__icon.socials__icon--youtube
            +icon('ico-social-youtube')
