// HEADER :: START
header.header(js-header-scroll)
  .header__wrapper
    a(href="homepage.html").header__logo
      +icon('ico-logo')
    ul.header__menu
      li 
        a.link-border(href="cases.html") Проекты
      li
        a.link-border(href="contact.html") Контакты
      li
        a.link-border(href="about.html") Мы
      li
        a.link-border(href="bonus.html") Бонус
        
    .header__hamburger
      .hamburger.hamburger--squeeze(js-hamburger)
        .hamburger-box
          .hamburger-inner
        
// HEADER :: END


// MOBILE NAVI
.mobile-navi
  .container
    .mobile-navi__wrapper
      ul.mobile-navi__menu
        li 
          a.link-border(href="cases.html") Проекты
        li
          a.link-border(href="contact.html") Контакты
        li
          a.link-border(href="about.html") Мы
        li
          a.link-border(href="bonus.html") Бонус
          
      .mobile-navi__socials.socials
        .socials__title Мы в соцсетях
        .socials__list
          a(href="#" traget="_blank").socials__icon.socials__icon--facebook
            +icon('ico-social-facebook')
          a(href="#" traget="_blank").socials__icon.socials__icon--instagram
            +icon('ico-social-instagram')
          a(href="#" traget="_blank").socials__icon.socials__icon--youtube
            +icon('ico-social-youtube')
            
      .mobile-navi__credentials Все права защищены © ООО “БРИДЖ маркетинг”
        
