---
title: Бонус
---
extends shared/_layout
block content
  
  // PROJECT
  .bonus#scroller-js
    .hero.hero--project(data-nav-color="white")
      .hero__background
        video(autoplay muted loop)
          source(src='/video/jim-beam.mp4' type="video/mp4")

      .hero__contents
        .container
          .hero__name Бонус
          .hero__title(js-wrap-spans) Сорваться на концерт &#10; THE CHEMICAL &#10; BROTHERS
          a(href="#").hero__more.link-border о проекте
        
