---
title: Проекты
bodyClass: dark-page
---
extends shared/_layout
block content
  
  // CASES
  .cases(data-nav-color="white")
    .cases__wrapper
      .cases__slider.swiper-container(js-cases-swiper)
        .swiper-wrapper
          // slide
          .cases__slide.case-card
            .case-card__image
              img(src='img/caseCover_1.png' srcset='img/caseCover_1@2x.png 2x')
            .case-card__content
              .case-card__name The Macallan
              .case-card__intro Изнанка глянцевых фото-сессий
          // slide
          .cases__slide.case-card
            .case-card__image
              img(src='img/caseCover_2.png' srcset='img/caseCover_2@2x.png 2x')
            .case-card__content
              .case-card__name Jim Beam
              .case-card__intro Сорваться с друзьями на концерт The Chemical Brothers 
          // slide    
          .cases__slide.case-card
            .case-card__image
              img(src='img/caseCover_3.png' srcset='img/caseCover_3@2x.png 2x')
            .case-card__content
              .case-card__name Big Bon
              .case-card__intro Ты решаешь, как ты отдыхаешь
          
          // slide
          .cases__slide.case-card
            .case-card__image
              img(src='img/caseCover_1.png' srcset='img/caseCover_1@2x.png 2x')
            .case-card__content
              .case-card__name Tele 2
              .case-card__intro Косплей живет в каждом
          // slide
          .cases__slide.case-card
            .case-card__image
              img(src='img/caseCover_2.png' srcset='img/caseCover_2@2x.png 2x')
            .case-card__content
              .case-card__name The Macallan
              .case-card__intro Премьера песни Антона Севидова Avoid
          // slide    
          .cases__slide.case-card
            .case-card__image
              img(src='img/caseCover_3.png' srcset='img/caseCover_3@2x.png 2x')
            .case-card__content
              .case-card__name Flash Up
              .case-card__intro В плавках с горы? Легко!
          
          // slide
          .cases__slide.case-card
            .case-card__image
              img(src='img/caseCover_1.png' srcset='img/caseCover_1@2x.png 2x')
            .case-card__content
              .case-card__name Nivea
              .case-card__intro Клуб экспертов
          // slide
          .cases__slide.case-card
            .case-card__image
              img(src='img/caseCover_2.png' srcset='img/caseCover_2@2x.png 2x')
            .case-card__content
              .case-card__name Hennessy VS
              .case-card__intro Hennessy. Very short & very long night.
          // slide    
          .cases__slide.case-card
            .case-card__image
              img(src='img/caseCover_3.png' srcset='img/caseCover_3@2x.png 2x')
            .case-card__content
              .case-card__name Барни
              .case-card__intro Загадочная коробка
                      
              
        .swiper-scrollbar
            
                  
