---
title: Проекты
bodyClass: dark-page
---
extends shared/_layout
block content
  
  // CASES
  .cases(data-nav-color="white")
    .cases__wrapper
      .cases__slider.swiper-container(js-cases-swiper)
        .swiper-wrapper
          // slide
          a.cases__slide.case-card(href="project.html")
            .case-card__media.reveal.reveal--black(js-reveal data-type="onload" js-video-hover data-anim="ltr")
              .media-wrapper.media-wrapper--abs.media-wrapper--16-9
                video(poster="img/caseCover_1.png" muted loop preload="none")
                  source(src="/video/macallan.mp4" type="video/mp4")
            .case-card__content
              .case-card__name The Macallan
              .case-card__intro Изнанка глянцевых фото-сессий
          // slide
          a.cases__slide.case-card(href="project.html")
            .case-card__media.reveal.reveal--black(js-reveal data-type="onload" js-video-hover data-anim="ltr")
              .media-wrapper.media-wrapper--abs.media-wrapper--16-9
                video(poster="img/caseCover_2.png" muted loop preload="none")
                  source(src="/video/macallan.mp4" type="video/mp4")

            .case-card__content
              .case-card__name Jim Beam
              .case-card__intro Сорваться с друзьями на концерт The Chemical Brothers 
          // slide    
          a.cases__slide.case-card(href="project.html")
            .case-card__media.reveal.reveal--black(js-reveal data-type="onload" js-video-hover data-anim="ltr")
              .media-wrapper.media-wrapper--abs.media-wrapper--16-9
                video(poster="img/caseCover_3.png" muted loop preload="none")
                  source(src="/video/macallan.mp4" type="video/mp4")

            .case-card__content
              .case-card__name Big Bon
              .case-card__intro Ты решаешь, как ты отдыхаешь
          
          // slide
          a.cases__slide.case-card(href="project.html")
            .case-card__media.reveal.reveal--black(js-reveal data-type="onload" js-video-hover data-anim="ltr")
              .media-wrapper.media-wrapper--abs.media-wrapper--16-9
                video(poster="img/caseCover_1.png" muted loop preload="none")
                  source(src="/video/macallan.mp4" type="video/mp4")

            .case-card__content
              .case-card__name Tele 2
              .case-card__intro Косплей живет в каждом
          // slide
          a.cases__slide.case-card(href="project.html")
            .case-card__media.reveal.reveal--black(js-reveal data-type="onload" js-video-hover data-anim="ltr")
              .media-wrapper.media-wrapper--abs.media-wrapper--16-9
                video(poster="img/caseCover_2.png" muted loop preload="none")
                  source(src="/video/macallan.mp4" type="video/mp4")

            .case-card__content
              .case-card__name The Macallan
              .case-card__intro Премьера песни Антона Севидова Avoid
          // slide    
          a.cases__slide.case-card(href="project.html")
            .case-card__media.reveal.reveal--black(js-reveal data-type="onload" js-video-hover data-anim="ltr")
              .media-wrapper.media-wrapper--abs.media-wrapper--16-9
                video(poster="img/caseCover_3.png" muted loop preload="none")
                  source(src="/video/macallan.mp4" type="video/mp4")

            .case-card__content
              .case-card__name Flash Up
              .case-card__intro В плавках с горы? Легко!
          
          // slide
          a.cases__slide.case-card(href="project.html")
            .case-card__media.reveal.reveal--black(js-reveal data-type="onload" js-video-hover data-anim="ltr")
              .media-wrapper.media-wrapper--abs.media-wrapper--16-9
                video(poster="img/caseCover_1.png" muted loop preload="none")
                  source(src="/video/macallan.mp4" type="video/mp4")

            .case-card__content
              .case-card__name Nivea
              .case-card__intro Клуб экспертов
          // slide
          a.cases__slide.case-card(href="project.html")
            .case-card__media.reveal.reveal--black(js-reveal data-type="onload" js-video-hover data-anim="ltr")
              .media-wrapper.media-wrapper--abs.media-wrapper--16-9
                video(poster="img/caseCover_2.png" muted loop preload="none")
                  source(src="/video/macallan.mp4" type="video/mp4")

            .case-card__content
              .case-card__name Hennessy VS
              .case-card__intro Hennessy. Very short & very long night.
          // slide    
          a.cases__slide.case-card(href="project.html")
            .case-card__media.reveal.reveal--black(js-reveal data-type="onload" js-video-hover data-anim="ltr")
              .media-wrapper.media-wrapper--abs.media-wrapper--16-9
                video(poster="img/caseCover_3.png" muted loop preload="none")
                  source(src="/video/macallan.mp4" type="video/mp4")

            .case-card__content
              .case-card__name Барни
              .case-card__intro Загадочная коробка
                      
              
        .swiper-scrollbar
            
                  
