---
title: Главная
bodyClass: homepage
---
extends shared/_layout
block content
  
  // HOME
  .home
    .home__slider
      .home__slide.slide-home
        .slide-home__background
          img(src="img/slide.png" srcset="img/slide@2x.png 2x")
        .slide-home__contents
          .slide-home__name JIM BEAM
          .slide-home__title Сорваться на концерт <br/> THE CHEMICAL <br/> BROTHERS
        
