---
title: Проект
---
extends shared/_layout
block content
  
  // PROJECT
  .project(js-page-scroll)
    .hero.hero--project
      .hero__background
        video(autoplay muted loop)
          source(src='/video/jim-beam.mp4' type="video/mp4")

      .hero__contents
        .hero__name Внутреняя
        .hero__title Сорваться на концерт &#10; THE CHEMICAL &#10; BROTHERS
        a(href="#").hero__more.link-border о проекте
      
    .hero-scroll
      .hero-scroll__button(js-scroll-to data-target="section-name")
        +icon('ico-scroll-arrow-down')
      
    // section
    .section-text(data-scroll="section-name")
      .container
        h2.h2-title Разработка креативной <br/> идеи для вирусного <br/> ролика
    
    // section
    .section-video
      .video-player(js-video-player)
        .video-player__placeholder
          img(src="img/slide.png" srcset="img/slide@2x.png 2x")
        
        .media-wrapper.media-wrapper--16-9
          video(loop)
            source(src='/video/sevidov.mp4' type="video/mp4")
      
      .section-video__link
        .container
          a(href='https://youtube.com' target="_blank").link-border.primary-link смотреть ролик на  YouTube
    
    // section
    .section-text
      .container
        h2.h2-title Live-съемка на 6 локациях <br/>в Москве и 7 локациях в<br/> Дубаи
        p.p-primary Тайминг на продюссирование съемки - <br> 3 недели

    // section
    .section-image
      .image-gallery
        .media-wrapper.media-wrapper--16-9
          .image-gallery__image(style="background-image: url('../img/photo.jpg')")
        .image-gallery__list
          // hidden image to be displayed in modal
          span(data-image="../img/photo.jpg")
          span(data-image="../img/photo.jpg")
          span(data-image="../img/photo.jpg")
          
    // section
    .section-next
      .container
        a(href="homepage.html").section-next__link
          .t-primary Следующий проект
          .h1-title.link-border Косплей живет в каждом
    
    // Footer
    .footer
      .container
        .footer__wrapper
          .footer__copy Все права защищены <br>© ООО “БРИДЖ маркетинг”
          .footer__cta
            a(href="cases.html").link-border.bold-link Все проекты

          .footer__socials.socials.socials--big
            .socials__title Мы в соцсетях
            .socials__list
              a(href="#" traget="_blank").socials__icon.socials__icon--facebook
                +icon('ico-social-facebook')
              a(href="#" traget="_blank").socials__icon.socials__icon--instagram
                +icon('ico-social-instagram')
              a(href="#" traget="_blank").socials__icon.socials__icon--youtube
                +icon('ico-social-youtube')
                
          
