include _mixins
doctype html
html(lang="ru")
  head
    include _head

  body(class=bodyClass)
    #barba-wrapper
      block preloader
        include ../components/_preloader
        
      block header
        include ../components/_header
    
      // what should be changed with every pjax
      .page
        div(js-set-body-class data-class=bodyClass)
        .page__content
          block content
          
      block scripts
        include _scripts
