/* HEADER
.header
  position: fixed
  top: 0
  right: 0
  left: 0
  z-index: 9
  color: white
  pointer-events: none
  &.is-dark
    color: $fontColor

  &__wrapper
    display: flex
    align-items: center
    padding: 55px 65px

  &__logo
    flex: 0 0 auto
    font-size: 29px
    padding-right: 30px

  &__menu
    flex: 0 1 auto
    display: flex
    align-items: center
    font-size: 20px
    margin: 0 0px 0 auto
    padding: 0
    li
      display: inline-block
      margin-right: 45px
      &:last-child
        margin-right: 0
      &.is-active
        a
          &::after
            right: 10px

    a
      position: relative
      display: inline-block
      padding: 10px
      transition: color .25s $ease
      &::after
        bottom: 5px
        left: 10px
        right: 100%
      &:hover
        &::after
          right: 10px

  &__hamburger
    display: none
    padding-left: 20px

  &__logo, &__menu, &__hamburger
    pointer-events: all
    will-change: transform
    transition-property: transform, opacity, color
    transition-duration: .4s
    transition-timing-function: $ease

  &.is-scrolling-down
    .header
      &__logo, &__menu, &__hamburger
        opacity: 0
        pointer-events: none
        transform: translate(0,-10px)


.header-always-visible
  .header.is-scrolling-down
    .header
      &__logo, &__menu, &__hamburger
        // just rewrites for now
        // todo - move to JS detectors
        opacity: 1
        pointer-events: all
        transform: translate(0,0px)

+r($hd)
  .header
    &__wrapper
      padding: 35px 65px
    &__logo
      font-size: 25px
    &__menu
      font-size: 17px
      li
        margin-right: 30px
        &:last-child
          margin-right: 0

+r($desktop)
  .header
    &__wrapper
      padding-left: 40px
      padding-right: 40px

+r($tablet)
  .header
    &__wrapper
      padding: 30px 0 20px 0
    &__logo
      font-size: 20px

    &__menu
      display: none
    &__hamburger
      margin-left: auto
      display: block

+r($mobile)
  .header
    &__wrapper
      padding-left: 20px
      padding-right: 20px
