// INDEX

.socials
  display: flex
  align-items: center
  &__title
    font-size: 12px
    padding-right: 10px
  &__list
    display: flex
    align-items: center

    a
      display: inline-block
      margin-left: 15px
      size: 27px
      display: flex
      align-items: center
      justify-content: center
      text-align: center
      color: $fontColor
      border: 1px solid $fontColor
      border-radius: 50%
      transition: .25s $ease

// hover effect for the links
.link-border
  display: inline-block
  position: relative
  &::after
    display: inline-block
    content: ' '
    position: absolute
    bottom: 0px
    left: 0
    right: 100%
    height: 2px
    background: currentColor
    transition: .8s $easing
  &:hover
    &::after
      right: 0
