
// keps the aspect ration
.media-wrapper
  position: relative
  display: flex
  flex-direction: column
  z-index: 1
  width: 100%
  &--16-9
    padding-bottom: 56%

// video player
.video-player
  position: relative
  overflow: hidden
  width: 100%
  height: 100%
  background: #000
  cursor: url('../img/controls/cursor-play.svg') 27 27, pointer
  &.is-playing
    cursor: url('../img/controls/cursor-pause.svg') 27 27, pointer
    .video-player
      &__placeholder
        opacity: 0
        pointer-events: none
      &__wrapper

  &__placeholder
    position: absolute 0
    background: #000
    z-index: 2
    transition: opacity 0.5s cubic-bezier(0.16, 1.08, 0.38, 0.98);
    display: flex
    align-items: center

  video
    position: absolute
    width: 100%
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)


// image gallery (slider on swiper js)
.image-gallery
  position: relative
  overflow: hidden
  width: 100%
  height: 100%
  background: #000
  > .swiper-wrapper
    // transition-timing-function: $easing
  // &__slide
  .media-wrapper
    flex: 0 0 auto
    width: calc(100% - 88px)
    &:last-child
      width: 100%
  &__image
    // fill the wrapper
    position: absolute 0
    font-size: 0
    // must use inline styles
    background-size: cover
    background-repeat: no-repeat
    background-position: center center
  img
    // position: absolute
    // width: 100%
    // top: 50%
    // left: 50%
    // transform: translate(-50%, -50%)

  &__list
    // modal wrapper
    display: none

  &__prev, &__next
    position: absolute
    top: 0
    bottom: 0
    z-index: 2
    width: 50%

  &__prev
    left: 0
    cursor: url('../img/controls/cursor-prev.svg') 27 27, pointer

  &__next
    right: 0
    cursor: url('../img/controls/cursor-next.svg') 27 27, pointer

  &.is-last-active
    .image-gallery
      &__prev
        width: 100%
      &__next
        width: 0
