.section-text
  margin: 90px 0
  .p-primary
    margin-top: 70px


.section-video
  position: relative
  margin-bottom: 350px
  &__link
    margin-top: 35px

.section-next
  text-align: center
  margin: 300px 0
  &__link
    padding: 10px 0
    .h1-title
      padding: 10px 0
      &::after
        height: 5px
    &:hover
      .h1-title
        &::after
          right: 0
