.s-text
  margin: 90px 0
  .p-primary
    margin-top: 70px

+r($hd)
  .s-text
    margin: 70px 0

.s-video
  position: relative
  margin-bottom: 350px
  &__link
    margin-top: 35px

+r($hd)
  .s-video
    margin-bottom: 250px

.s-image
  position: relative
  &__text
    position: absolute
    top: 50%
    transform: translateY(-50%)
    color: white
    font-size: 70px
    font-weight: 900
    text-transform: uppercase
    left: 65px

+r($hd)
  .s-image

// text
.s-next
  text-align: center
  margin: 300px 0
  &__link
    padding: 10px 0
    .h1-title
      padding: 10px 0
      &::after
        height: 5px
    &:hover
      .h1-title
        &::after
          right: 0

+r($hd)
  .s-next
    margin: 220px 0


// extra
.s-extra
  margin: 230px 0
  &__slider
    margin-top: 70px
    overflow: visible

  &__slide
    flex: 0 0 600px
    max-width: 600px

+r($hd)
  .s-extra
    margin: 170px 0
    &__slide
      flex: 0 0 450px
      max-width: 450px


// section info
// text + image
.s-info
  margin: 165px 0
  &__wrapper
    display: flex
    align-items: center
    margin-left: -30px
    margin-right: -30px
  &__content
    flex: 0 1 65%
    // emulate container
    padding-right: 30px
    padding-left: calc(30px + 65px)
  &__text
    max-width: 750px
    p
      font-size: 35px
      font-weight: 900
      text-transform: uppercase
      line-height: 1.35

  &__media
    flex: 0 1 35%
    margin-left: auto
    padding: 0 30px
    img
      max-width: 100%

+r($hd)
  .s-info
    &__text
      p
        font-size: 25px
    &__media
      // padding-left: 10%

+r($desktop)
  .s-info
