.ico-logo {
  width: 5.43em;
  height: 1em;
  fill: initial;
}
.ico-scroll-arrow-down {
  width: 1.03em;
  height: 1em;
  fill: initial;
}
.ico-social-facebook {
  width: 0.52em;
  height: 1em;
  fill: initial;
}
.ico-social-instagram {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-social-youtube {
  width: 1.44em;
  height: 1em;
  fill: initial;
}
